<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Você é cursou Comércio Exterior. Você pensava em trabalhar na área de TI?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Como foi o começo da sua carreira profissional?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              O que motivou sua mudança para a área de TI?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Como é o seu trabalho na ThoughtWorks?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Qual habilidade você considera mais importante para seu trabalho?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Além da TI, o que mais você gosta?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Quem é você?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>


      </div>
    </div>
    <div class="col-md-4">
      <section class="profile">
        <div class="img-wrapper mb10">
          <%= image_tag 'bethlem-migot.jpg' %>
        </div>
        <div>
          <h3>
            Bethlem K. Migot
          </h3>
          <p>
            - Analista de Negócios na ThoughtWorks
            <br>
            - Formada em Comércio Exterior na UNISINOS
            <br>
            - Nasceu em Carlos Barbosa - Rio Grande do Sul
            <br>
            Atualmente mora em Recife - PE
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
