<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Como começou sua carreira?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Quando você soube que a área de TI era seu destino?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="question-wrapper">
            <div class="col-md-4 question text-right">
              Como é o seu trabalho na ThoughtWorks?
            </div>
            <div class="col-md-6 col-md-offset-1 answer">
              <span class="quotation-mark">“</span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>


      </div>
    </div>
    <div class="col-md-4">
      <section class="profile">
        <%= link_to lilians_interview_path, class: 'img-wrapper mb10' do %>
          <%= image_tag 'lilian.jpg' %>
        <% end %>
        <div>
          <h3>
            <%= link_to lilians_interview_path, class: 'hover' do %>
              Lilian De Munno
            <% end %>
          </h3>
          <p>
            - Analista de negócios na ThoughtWorks
            <br>
            - Formada em Alguma Coisa pela Universidade de algum lugar
            <br>
            - Nasceu em Cidade Natal
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
