<section class="container mb30">
  <div class="carousel">
    <div class="row">
      <div class="col-md-8">
        <div class="content">
          <strong>Você sabia que o primeiro programador da história foi uma mulher?</strong>
          <br>
          <br>
          <p>
            Isso mesmo, Ada Augusta Byron King, Condessa de Lovelace, conhecida atualmente como Ada Lovelace, foi a primeira pessoa a escrever um algoritmo para ser processado por uma máquina.
          </p>
          <br>
          <br>
          <div class="text-right">
            <%= link_to 'http://pt.wikipedia.org/wiki/Ada_Lovelace', target: '_blank' do %>
              Saiba mais
              <i class="glyphicon glyphicon-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <%= image_tag '//upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Ada_lovelace.jpg/200px-Ada_lovelace.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>