<div class="container">
  <h3>Sobre</h3>

  <p>Esse site tem o objetivo de tirar da mente das pessoas isso de que área de TI é para homem.</p>
  <p>Queremos mostrar que existem muitas mulheres bem sucedidas e que elas são essenciais nesta área.</p>
  <p>Com isso, também iremos mostrar um pouco de como é uma carreira na área de TI em diferentes funções.</p>
</div>